{% extends "layouts/main.html" %}

{% set pageName="Idea 2" %}

{% block beforeContent %}

<div class="account-info">
  <span class="name govuk-body-s">Louis OREILLY UKPRN: 10000001</span>
  <a href="#" class="govuk-link">Sign out</a>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <h1 class="govuk-heading-l">Make a submission</h1>
    <div class="tile-grid"> 
          <div class="tile-group">
          <a href="/idea-2/submission" class="tile">
            <span class="govuk-heading-m govuk-!-margin-bottom-0 heading">SBC</span>
            <span class="govuk-heading-s govuk-!-margin-bottom-0 heading">Skills Bootcamp Contracts</span>
          </a>
          <div class="govuk-body govuk-!-font-size-19 tile-label">
            R12 and R012 Open
          </div>
          </div>
          <div class="tile-group">
          <a href="/idea-2/submission" class="tile">
            <span class="govuk-heading-m govuk-!-margin-bottom-0 heading">EAS</span>
            <span class="govuk-heading-s govuk-!-margin-bottom-0 heading">Earnings Adjustment Statement</span>
          </a>
          <div class="govuk-body govuk-!-font-size-19 tile-label">
           Open
          </div>
          </div>
          <div class="tile-group">
          <a href="/idea-2/submission" class="tile">
            <span class="govuk-heading-m govuk-!-margin-bottom-0 heading">ILR</span>
            <span class="govuk-heading-s govuk-!-margin-bottom-0 heading">Individualised Learner Record</span>
          </a>
          <div class="govuk-body govuk-!-font-size-19 tile-label">
            R12 and R01 Open
          </div>
          </div>
          <div class="tile-group">
          <a href="/idea-2/submission" class="tile">
            <span class="govuk-heading-m govuk-!-margin-bottom-0 heading">FE Workforce</span>
            <span class="govuk-heading-s govuk-!-margin-bottom-0 heading">Staff and vacancy data collection</span>
          </a>
          <div class="govuk-body govuk-!-font-size-19 tile-label">
            25/26 Open
          </div>
          </div>
          <div class="tile-group">
          <a href="/idea-2/submission" class="tile">
            <span class="govuk-heading-m govuk-!-margin-bottom-0 heading">FE Workforce</span>
            <span class="govuk-heading-s govuk-!-margin-bottom-0 heading">Governor data collection</span>
          </a>
          <div class="govuk-body govuk-!-font-size-19 tile-label">
            25/26 Open
          </div>
          </div>
          <div class="tile-group">
          <a href="/idea-2/start" class="tile">
            <span class="govuk-heading-m govuk-!-margin-bottom-0 heading">ED</span>
            <span class="govuk-heading-s govuk-!-margin-bottom-0 heading">Enrolment Data</span>
            </span>
          </a>
          <div class="govuk-body govuk-!-font-size-19 tile-label">
            Open
          </div>
          </div>
 

      
    </div>

    <h2 class="govuk-heading-l govuk-!-margin-top-9">Reports and data</h2>
    <div class="tile-grid">
      <div class="tile-group">
        <a href="/idea-2/reports" class="grey">
          <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Reports</span>
        </a> 
        <div class="grey-label govuk-body govuk-!-font-size-19">View reports</div>
      </div>  
      <div class="tile-group">
        <a href="/idea-2/reports" class="grey">
          <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">FE Workforce</span>
          <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Staff and vacancy data</span>
        </a> 
        <div class="grey-label govuk-body govuk-!-font-size-19">View data</div>
      </div>
      <div class="tile-group">
        <a href="/idea-2/reports" class="grey">
          <span class="govuk-!-font-size-19 govuk-!-font-weight-bold  ">Dashboards</span>
        </a> 
        <div class="grey-label govuk-body govuk-!-font-size-19">View dashboards</div>
      </div>

      <div class="tile-group">
        <a href="/idea-2/reports" class="grey">
          <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">FE Workforce</span>
          <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Governor data collection</span>
        </a> 
        <div class="grey-label govuk-body govuk-!-font-size-19">View submissions</div>
      </div>
      <div class="tile-group">
        <a href="/idea-2/reports" class="grey">
          <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Audit Services</span>
        </a> 
        <div class="grey-label govuk-body govuk-!-font-size-19">View audit reports</div>
      </div>
    </div>

  </div>
  <div class="govuk-grid-column-one-quarter">
    <div class="side-container">
      <h2 class="govuk-heading-m">Need help?</h2>
      <p class="govuk-body-s">Find further information at the Customer Help Centre where you can read our help articles, talk to our Community, chat to our Virtual assistant or submit an enquiry.</p>
      <h2 class="govuk-heading-m">Tools and services</h2>
      <a class="govuk-link govuk-body-s" href="/idea-2/reports">FIS (Funding Information Service)</a><br>
      <a class="govuk-link govuk-body-s" href="/idea-2/reports">Find a Learning Aim</a><br>
      <a class="govuk-link govuk-body-s" href="/idea-2/reports">Enter learning data</a><br>
      <a class="govuk-link govuk-body-s" href="/idea-2/reports">ILR Learner entry tool</a><br>
      <a class="govuk-link govuk-body-s" href="/idea-2/reports">ILR FileMerge</a><br>
      <a class="govuk-link govuk-body-s" href="/idea-2/reports">FE staff data desktop application</a><br>

    </div>
</div>

{% endblock %}
