{% extends "layouts/main.html" %}


{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to homepage",
    href: "/idea-2/home"
  }) }}
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
        <div class="govuk-list">
            <li class="govuk-list__item"><a href="/idea-2/reports">Latest submissions</a></li>
            <li class="govuk-list__item"><a href="/idea-2/submission-history">Submission history</a></li>
        </div>
    </div>

    <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">Latest submissions</h1>
        <p class="govuk-body">View your latest submissions and see your reports. You can view reports for each collection period in your submission history. </p>
        <p class="govuk-body">Download the report of your most recent submission to see your latest figures. </p>
        

        <p class="govuk-!-font-weight-bold">Filter your submissions by month</p>
        <span class="govuk-hint">Choosing a filter will result in the page refreshing automatically</span>
        <div class="govuk-checkboxes flex-row govuk-checkboxes--small" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="filter-1" name="filter-1" type="checkbox" value="filter-1">
                <label class="govuk-label govuk-checkboxes__label" for="filter-1">September</label>
            </div>
                        <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="filter-1" name="filter-1" type="checkbox" value="filter-1">
                <label class="govuk-label govuk-checkboxes__label" for="filter-1">October</label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="filter-2" name="filter-2" type="checkbox" value="filter-2">
                <label class="govuk-label govuk-checkboxes__label" for="filter-2">November</label>
            </div> 
        </div>
   
        <h2 class="govuk-heading-l govuk-!-margin-top-6">Academic Collection Year 2026 to 2027</h2>
        <h3 class="govuk-heading-m">R03</h3>
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Date</th>
                    <th scope="col" class="govuk-table__header">File</th>
                    <th scope="col" class="govuk-table__header">Submitted by</th>
                    <th scope="col" class="govuk-table__header">Reference</th>
                    <th scope="col" class="govuk-table__header">Reports</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__header">24 June 2026 at 4:14pm</td>
                    <td class="govuk-table__cell"><a href="/idea-2/confirmation" class="govuk-link"2526_4903403590.xml>2526_4903403590.xml</a></td>
                    <td class="govuk-table__cell">Louis OREILLY</td>
                    <td class="govuk-table__cell">3495906</td>
                    <td class="govuk-table__cell"><a href="/idea-2/confirmation" class="govuk-link">Download report</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__header">17 June 2026 at 4:14pm</td>
                    <td class="govuk-table__cell"><a href="/idea-2/confirmation" class="govuk-link"2526_4903403590.xml>2526_4903403590.xml</a></td>
                    <td class="govuk-table__cell">Louis OREILLY</td>
                    <td class="govuk-table__cell">3495906</td>
                    <td class="govuk-table__cell"><a href="/idea-2/confirmation" class="govuk-link">Download report</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__header">17 June 2026 at 4:14pm</td>
                    <td class="govuk-table__cell"><a href="/idea-2/confirmation" class="govuk-link"2526_4903403590.xml>2526_4903403590.xml</a></td>
                    <td class="govuk-table__cell">Louis OREILLY</td>
                    <td class="govuk-table__cell">9054323</td>
                    <td class="govuk-table__cell"><a href="/idea-2/confirmation" class="govuk-link">Download report</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__header">17 June 2026 at 4:14pm</td>
                    <td class="govuk-table__cell"><a href="/idea-2/confirmation" class="govuk-link"2526_4903403590.xml>2526_4903403590.xml</a></td>
                    <td class="govuk-table__cell">Louis OREILLY</td>
                    <td class="govuk-table__cell">4903253</td>
                    <td class="govuk-table__cell"><a href="/idea-2/confirmation" class="govuk-link">Download report</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


</div>

{% endblock %}