{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/idea-2/home"
  }) }}
{% endblock %}


{% block protoScenarios %}
  <div class="proto-panel__scenario">
    <input class="proto-panel__checkbox" type="checkbox" id="toggle-file-uploaded" data-scenario="file-uploaded">
    <label class="proto-panel__label" for="toggle-file-uploaded">
      File already uploaded this week
      <small>Shows a previously submitted file notice</small>
    </label>
  </div>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <h1 class="govuk-heading-xl">Upload your file</h1>


    {# Alternate state: file already uploaded this week #}
    <div data-show-when="file-uploaded" hidden>
      <div class="govuk-notification-banner" role="alert">
        <div class="govuk-notification-banner__header">
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-heading-s">A submission has already been made today</p>
          <p class="govuk-body">Louis OREILLY submitted file WEC-39023-4390439.XML Any new submission will overwrite this one</p>
          <a class="govuk-link" href="/idea-2/submission-history">View submission history</a>
        </div>
      </div>
    </div>

    <p class="govuk-body">Before uploading your file, make sure that:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>it is in CSV format</li>
      <li>it is named FE/DD/MM/YYYY</li>
      <li>the data is as complete as possible</li>
      <li>the data is as accurate as possible</li>
      <li>you submit your data once a week</li>
    </ul>

 <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-visually-hidden">Warning</span>
    Submitting another file in the same week will overwrite the data you previously submitted.
  </strong>
</div>

    {{ govukFileUpload({
      id: "wac-file",
      name: "wacFile",
      label: {
        text: "Select a file to upload",
        classes: "govuk-label--s"
      }
    }) }}

    {{ govukButton({
      text: "Upload file",
      href: "/idea-2/data-validation"
    }) }}

   
  </div>

  </div>

</div>

{% endblock %}
